<div class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2>
  <div class="row text-center">
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="#"> <img src="http://s0.meituan.net/bs/fe-web-meituan/24e4d32/img/logo.png" alt="Paris"></a>
        <p>吃喝玩乐全都有</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="#"> <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fmhjsggjtnj307002kjrs.jpg" alt="Paris"></a>
        <p>完美主义的工匠精神</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="#"> <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmhjfwiqicj307002kt9g.jpg" alt="Paris"></a>
       <p>安全与极速</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="#"> <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fmhjifnh0lj307002k3yy.jpg" alt="Paris"></a>
        <p>词库超大、速度飞快</p>
      </div>
    </div>
</div>
