
<div class="product-show-box">
  <div class="container">
<!--===== 广告图 =====-->
<section class="intro-box">
  <div class="row">
    <div class="col-md-12">
       <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmm29t61ztj30zk08c0zm.jpg" alt="Activities index intro">
    </div>
  </div>
</section>





 </div>
</div>
