<div class="col-md-12">
  <div class="postlist">
    <%= link_to("New postlist", new_post_postlist_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <% @post.postlists.each do |postlist| %>
        <tr>
          <td>#</td>
          <td><%= link_to(postlist.title, "#") %></td>
          <td><%= postlist.body %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
