<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>首页</title>
      </head>

      <body>



          <div class="header">

      <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://ws2.sinaimg.cn/large/006tKfTcly1flqn3soe38j30p00dv0vx.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3npvhlj30hs09wt9e.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3cdd2lj30m80ccaam.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
        data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel"
        data-slide="next">&rsaquo;
    </a>
</div>
            <!--   <img src="https://ws2.sinaimg.cn/large/006tKfTcly1flqn3soe38j30p00dv0vx.jpg" alt="" width="750" height="425" > -->
            <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3npvhlj30hs09wt9e.jpg" alt="" width="750" height="425" > -->
            <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3cdd2lj30m80ccaam.jpg" alt="" width="750" height="425" > -->


            <div class="btn-group">
              <a class="btn btn-primary" href="#"><i class="fa fa-university"></i><br>学习</br></a>

              <a class="btn btn-primary" href="#"><i class="fa fa-bell"></i><br>问答</br</a>
              <a class="btn btn-primary" href="#"><i class="fa fa-briefcase"></i><br>就业</br</a>
              <a class="btn btn-primary" href="#"><i class="fa fa-modx"></i><br>活动</br></a>
            </div>



          </div>
          <div class="3">

          </div>
          <div class="footer">

          </div>


              </div>
      </body>

    </html>
