<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>首页</title>
      </head>

      <body>



    <div class="header">
        <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input class="form-control" type="text" placeholder="欢迎来到才华横溢的世界">
        </div>


      <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://ws2.sinaimg.cn/large/006tKfTcly1flqn3soe38j30p00dv0vx.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3npvhlj30hs09wt9e.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3cdd2lj30m80ccaam.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
        data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel"
        data-slide="next">&rsaquo;
    </a>
</div>
            <!--   <img src="https://ws2.sinaimg.cn/large/006tKfTcly1flqn3soe38j30p00dv0vx.jpg" alt="" width="750" height="425" > -->
            <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3npvhlj30hs09wt9e.jpg" alt="" width="750" height="425" > -->
            <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3cdd2lj30m80ccaam.jpg" alt="" width="750" height="425" > -->


          <!--  <div class="container">
                      <div class="study">
                          <div class="person-box weith:50px height:50px">
                            <a href="#"><i class="fa fa-university fa-5x"></i></a>
                          <br>学习
                        </div>
                     </div>


                      <div class="answer">
                         <div class="person-box">
                             <a href="#"><i class="fa fa-bell fa-5x"></i></a>
                          <br>问答
                        </div>
                     </div>


                     <div class="job">
                         <div class="person-box">
                            <a href="#"><i class="fa fa-briefcase fa-5x"></i></a>
                              <br>就业
                        </div>
                    </div>


                   <div class="activity">
                       <div class="person-box">
                          <a href="#"><i class="fa fa-modx fa-5x"></i></a>
                            <br>活动
                      </div>
                  </div>
                    </div>

                  -->









          <div class="read">
            <div class="person-box">
              <i class="fa fa-book">每日读书</i>
              <i class="fa fa-fighter-jet"></i><%= link_to '查看全部', posts_path%>
              <div style="height:2px;weith:750px;border-bottom:1px #ccc solid;"></div>
            </br> <img src="https://ws1.sinaimg.cn/large/006tNc79ly1flwpskl5b9j30cq0hathl.jpg" alt="" width="175" height="200">

              <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3cdd2lj30m80ccaam.jpg" alt="" width="750" height="425" > -->
          </div>

          <div class="classroom">
            <div class="person-box">
              <i class="fa fa-ship"></i><%= link_to '每日课程', posts_path%>
              <div style="height:2px;weith:750px;border-bottom:1px #ccc solid;"></div>
            </br><img src="https://ws3.sinaimg.cn/large/006tNc79ly1flwpqospy4j30sk0g2nlo.jpg" alt="" width="450" height="250">
              <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3cdd2lj30m80ccaam.jpg" alt="" width="750" height="425" > -->
          </div>

          <div class="people">
            <div class="person-box">
              <i class="fa fa-legal"></i><%= link_to '每日人物', posts_path%>
              <div style="height:2px;weith:750px;border-bottom:1px #ccc solid;"></div>
            </br><img src="https://ws4.sinaimg.cn/large/006tNc79ly1flwpst3ntej30rc0eu7n0.jpg" alt="" width="450" height="225">

              <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3cdd2lj30m80ccaam.jpg" alt="" width="750" height="425" > -->
          </div>

          <!-- /.header -->
       </div>


      </body>

    </html>
