<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>首页</title>
      </head>

      <body>
          <div class="header">
               <img src="https://ws2.sinaimg.cn/large/006tKfTcly1flqn3soe38j30p00dv0vx.jpg" alt="" width="750" height="425" >
            <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3npvhlj30hs09wt9e.jpg" alt="" width="750" height="425" > -->
            <!--  <img src="https://ws1.sinaimg.cn/large/006tKfTcly1flqn3cdd2lj30m80ccaam.jpg" alt="" width="750" height="425" > -->

          <div class="2">
            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
            </span>

            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
            </span>

            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
            </span>

            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
            </span>

          </div>
          <div class="3">

          </div>
          <div class="footer">

          </div>


              </div>
      </body>

    </html>
