<div class="col-md-12">
  <div class="post">
    <%= link_to("Edit", edit_post_path(@post), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>
</div>
