<div class="product-show-box">
  <div class="container">
<!--===== 广告图 =====-->
<section class="intro-box">
  <div class="row">
    <div class="col-md-12">
       <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmm29t61ztj30zk08c0zm.jpg" alt="Activities index intro">
    </div>
  </div>
</section>


<div class="col-md-4 col-md-offset-4">
    <h2>编辑文章</h2>
  <%= simple_form_for @qa do |f| %>
    <%= f.input :title, :label => "标题"%>
    <%= f.input :body, :label => "内容"%>
    <%= f.submit "发表", :disable_with => 'Submitting...' %>
  <% end %>
</div>

 </div>
</div>
