<br>
<br>
<br>
<br>
<h1 class="text-center">问答页面</h1>
<table class="table table-hover">
  <thead>
      <tr>
        <td>书名</td>
        <td>内容</td>
      </tr>
  </thead>
  <tbody>
    <tr>
    <% @qas.each do |qa| %>
    <td><%= link_to qa.title, qa_path(qa) %></td>
    <td><%= link_to qa.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>
