

<br>
<br>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <td>书名</td>
      <td>内容</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @qa.title %></td>
      <td><%= @qa.body %></td>
    </tr>


  </tbody>

</table>
