// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.zf-video {
    width: 1000px;
    margin: 20px  auto 20px;
    background: #000;
}

.videoTit {
    width: 1000px;
    margin: 0 auto 25px;
    height: 25px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.obx-video {
    width: 1000px;
    margin: 0 auto;
}

.obx-video {
    width: 1000px;
    margin: 0 auto;
}

.obx {
    padding: 15px 0 0 0;
    display: block;
    margin: 0 auto;
    background: #000;
}
