// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.header{
  background-color: #fffbf0;
  margin:0 auto; width:750px; height:1334px; border:1px
}

.logo{
      .img{

      }
            .a{
            text-align: center;
            }
}
