<div class="product-show-box">
  <div class="container">
<!--===== 广告图 =====-->
<section class="intro-box">
  <div class="row">
    <div class="col-md-12">
       <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmm29t61ztj30zk08c0zm.jpg" alt="Activities index intro">
    </div>
  </div>
</section>

<div calss="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>标题</td>
        <td>内容</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @activity.title %></td>
        <td><%= @activity.body %></td>
      </tr>
    </tbody>
  </table>
</div>

</div>
</div>
