<footer>
    <div class="over-auto">
        <div class="fl footer-fluid">
            <p class="fluid-title"> 关于我们 </p>

            <div class="fluid-content tuchong-desc">
                  专注于教育共享服务，是一家帮助普通人获得成功的公司,
                 公司涉及五个方面的事业部，其中包括：人才内训、人才内推
                、企业孵化、项目投资、玩在世界五大板块,我们想要做的事情是帮助孩子最快速的完成行业公司就业和自主创业，成为对于社会有贡献和价值的人。
            </div>
        </div>

        <div class="fl footer-fluid">
            <p class="fluid-title"> 下载APP </p>

            <div class="fluid-content">
                <img class="qrcode download" src="https://ww4.sinaimg.cn/large/006tNc79ly1fmkvt4tatuj3076076q3f.jpg">
                <div class="qrcode-parallel">
                    <a class="app-link" data-type="iOS" data-referer="official" target="_blank" title="点击下载iPhone客户端"> iPhone版下载 </a>
                    <a class="app-link" data-type="Android" data-referer="official" title="点击下载Android客户端"> Android版下载 </a>
                </div>
            </div>
        </div>

        <div class="fr footer-fluid text-center">
            <p class="fluid-title"> 关注才华横溢 </p>

            <div class="fluid-content">
                <div class="qrcode-parallel">
                    <div href="javascript:;" class="link-logo wechat">
                        <a href="javascript:;">
                            <i class="icon-wechat"></i>
                        </a>

                        <a class="qrcode wechat"></a>
                    </div>

                    <div href="javascript:;" class="link-logo">
                        <a href="#" target="_blank">
                            <i class="icon-weibo"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="over-auto tuchong-detail">
        <div class="footer-left">
            <span>©2017 caihuahengyi.cn</span>
            <span>京ICP备17068249号</span>

            <div class="slash-list">
                <a class="slash-item" href="http://www.caihuahengyi.cn/"><i>用户协议</i></a>
                <a class="slash-item" href="http://www.caihuahengyi.cn/"><i>版权政策</i></a>
                <a class="switch-layout slash-item" href="javascript:void(0);" data-version="mobile"><i>移动版</i></a>
                <a class="switch-layout slash-item" href="javascript:void(0);" data-version="pc"><i>电脑版</i></a>
            </div>
        </div>

        <div class="footer-right slash-list">
            <a class="slash-item" href="http://www.caihuahengyi.cn/"><i>帮助</i></a>
            <a class="slash-item" href="http://www.caihuahengyi.cn/"><i>关于</i></a>
            <a class="slash-item" href="http://www.caihuahengyi.cn/"><i>联系</i></a>
            <a class="slash-item" href="http://www.caihuahengyi.cn/"><i>服务</i></a>
            <a class="slash-item" href="http://www.caihuahengyi.cn"><i>加入我们</i></a>
        </div>
    </div>
</footer>
